@CHARSET "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
}

#header {
	height: 150px;
	background: rgb(2, 28, 53);
	text-align: center;
}

#col {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

.spacer {
	width: 100%;
	height: 30px;
}

.title {
	margin: 0;
	padding: 0;
	color: rgb(80, 165, 230);
	line-height: 150px;
	vertical-align: middle;
}

.col2 {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	margin: 10px;
}

.username {
	color: rgb(95, 58, 122);
}

.separator {
	width: 30%;
	height: 3px;
	background: rgb(117, 168, 211);
}

.tweet {
	color: rgb(35, 76, 111);
}